


@import url('https://fonts.google.com/specimen/Poetsen+One');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;



    :root{
        --primary-color: #77878B;
        --secondary-color: #305252;
        --accent1-color: #373E40;
        --accent2-color: #488286;
    
    
        --heading-font: 'Poetsen One', serif;
        --paragraph-font: 'Open Sans', serif;
    
    
        --nav-background-color: #A5FFD6;
        --nav-link-color: #817F75;
        --nav-hover-link-color: #C5D9E2;
        --nav-hover-background-color: #CDFFF9;
    
    
    
    
    
    }

    header{
        padding: 20px;
        background-color: #373E40;
    }

    p{
        padding: 25px;
    }

    nav{
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
        }


    nav a{
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;

    }

    nav a:link, nav a:visited{
        color: var(--nav-link-color);
    }


    nav a:hover{
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }
}

    


